.git
.gitignore
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
Dockerfile
docker-compose.yml
*.md
node_modules
venv
env
.env
media/qrcodes
media/perfiles
fightnet/events
fightnet/fightnet
fightnet/media
fightnet/README.md
